{% extends 'portafolio/base.html' %}
{% load i18n %}
{% block title %} Gallos {% endblock title %}
{% block content %}
		<!-- SECTION -->{% for producto in pollos %}
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->

					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								<img src="{{ producto.foto.url }}" alt="">
							</div>
						</div>
					</div>
					<!-- /Product main img -->
					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
							<div class="product-preview">
								<img src="{{ producto.foto.url }}" alt="">
							</div>
						</div>
					</div>

					<!-- /Product thumb imgs -->
					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name">Descripción</h2>
							<div>
                                <h3 class="product-price">{{ producto.nombre_gallo }}</h3>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
					</div>

				</div>
            </div>
		</div>{% endfor %}
{% endblock content %}

